@mixin nesto {

  #id-div-util{
    position: fixed;
    top: 6px;
    left: 6px;
    z-index: 1;
    
    input[type=button]{
      font-size: 0.7em;
      padding: 2px;
      
    }

    p{
      margin: 0px;
      display: inline;
    }

    * {
      vertical-align: middle; 
    }
  }

  .class-header{
    //margin-top: 10px;
    //margin-bottom: 20px;
    text-align: center;
  }

  #id-position{
    font-size: 10px;
    line-height: 10px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    text-align: center;
  }

  .class-pitanje{
     
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;

    border-style: solid;
    border-width: 2px;
    border-color: transparent;

    .class-pitanje-pitanje{

      margin-bottom: 10px;

      .class-pitanje-redni-broj{
        display: inline;
      }
  
      .class-pitanje-tekst{
        display: inline;
      }
    }

    .class-pitanje-odgovor{
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 6px;
    }
  }
}